* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 512px;
  height: 512px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex: 1;
}

.square {
  border: 1px solid #ddd;
  flex: 1;
  background-color: white;
}